<nav class="navbar">
  <div class="container">
    <div class="nav-brand">
      <a href="/">TOURZIO</a>
    </div>
    <ul class="nav-menu">
      <li><a href="/">Home</a></li>
      <li><a href="/packages">Packages</a></li>
      <li><a href="/offers">Offers</a></li>
      <% if (user) { %>
        <li><a href="/bookings/dashboard">Dashboard</a></li>
        <li><a href="/auth/logout">Logout</a></li>
        <li class="user-welcome">Welcome, <%= user.name %></li>
      <% } else { %>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/signup" class="btn-primary">Sign Up</a></li>
      <% } %>
    </ul>
  </div>
</nav>

<% if (message) { %>
  <div class="alert alert-<%= message.type %>">
    <%= message.text %>
  </div>
<% } %>
